# "Поднимает" вложенные зависимости, чтобы Vite и другие сборщики их видели
public-hoist-pattern[]=*@vue/runtime-dom
public-hoist-pattern[]=*@vue/devtools-api
public-hoist-pattern[]=*@intlify/shared
public-hoist-pattern[]=*@intlify/core-base
public-hoist-pattern[]=*@vue/devtools-kit
public-hoist-pattern[]=*@vue/runtime-core
public-hoist-pattern[]=*@vue/shared
public-hoist-pattern[]=*@intlify/message-compiler
public-hoist-pattern[]=*@vue/devtools-shared
public-hoist-pattern[]=*perfect-debounce
public-hoist-pattern[]=*hookable
public-hoist-pattern[]=*birpc
public-hoist-pattern[]=*@vue/reactivity
